.audiences-wrapper {
  display: flex;
}

.icons-menu{
  margin-left: 20px;
  display: flex;
  width: 90px;
  justify-content: space-between;
}

.icon-item:hover {
  cursor: pointer;
}

.icon-item {
  margin-top: 22px;
}

.hint {
  color: red;
}