.app-root-wrapper {
  max-width: 1200px;
  margin: 20px auto;
}

.corpuses-wrapper {
  width: 850px;
  border-radius: 5px;
  border-color: black;
  height: 40px;
}

.add-corpuse-form {
  margin-bottom: 20px;
}

.add-corpuse-button {
  margin-bottom: 10px;
}

.app-root-header, .add-corpuse-button {
  margin-left: 30px;
}