.audiences-wrapper {
  margin-top:10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  display:  flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.icons-menu{
  margin-left: 20px;
  display: flex;
  width: 40px;
  justify-content: space-between;
}

.icon-item:hover {
  cursor: pointer;
}

.icon-item {
  margin-top: 22px;
  margin-left: -10px;
}

.hint {
  color: red;
}